@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";


@theme {
  --font-main: "Unbounded", sans-serif;

  --color-container-primary: rgb(0, 0, 0);
  --color-container-secondary: rgb(0, 0, 0);
  --color-container-primary-inv: rgb(0, 0, 0);
  --color-container-secondary-inv: rgb(0, 0, 0);

  --color-accent: rgb(0, 0, 0);

  --color-textBase: rgb(0, 0, 0);
  --color-textSecondary: oklch(0.681, 0.182, 291);
  --color-textBase-inv: rgb(0, 0, 0);
  --color-textSecondary-inv: rgb(0, 0, 0);
}


@layer base {
    h1 {
        @apply text-3xl;
        @apply font-main;
    }

    h2 {
        @apply text-2xl;
        @apply font-main;
    }

    h3 {
        @apply text-xl;
        @apply font-main;
    }

    h1, h2, h3, h4 {
        @apply font-bold;
        @apply font-main;
    }

    p, span, a, input, label {
        @apply font-normal;
        @apply font-main;
    }
}
