@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";


@theme {
  --font-main: "Unbounded", sans-serif;

  --color-primary: rgb(0, 0, 0);
  --color-secondary: rgb(0, 0, 0);
  --color-accent: rgb(0, 0, 0);
  --color-text-primary: rgb(0, 0, 0);
  --color-text-secondary: rgb(0, 0, 0);
}


@layer base {
    h1 {
        @apply text-3xl;
        @apply font-main;
    }

    h2 {
        @apply text-2xl;
        @apply font-main;
    }

    h3 {
        @apply text-xl;
        @apply font-main;
    }

    h1, h2, h3, h4 {
        @apply font-bold;
        @apply font-main;
    }

    p, span, a, input, label {
        @apply font-normal;
        @apply font-main;
    }
}
